<h2>Account Details</h2>

<table style="width: 50%; border-collapse: collapse; margin-top: 20px;" border="1">
  <tr>
    <th style="padding: 10px; text-align: left;">ID</th>
    <td style="padding: 10px;">{{ account.id }}</td>
  </tr>
  <tr>
    <th style="padding: 10px; text-align: left;">Account Holder Name</th>
    <td style="padding: 10px;">{{ account.accountHolderName }}</td>
  </tr>
  <tr>
    <th style="padding: 10px; text-align: left;">Balance</th>
    <td style="padding: 10px;">₹{{ account.balance }}</td>
  </tr>
</table>
