
<div class="col-md-8 offset-md-3"> 
    <h1 class="text-center">Create Account</h1>
    <div *ngIf="accountCreate" class="alert alert-success">account Created successfuly.... </div>
<form (ngSubmit)="onSubmit()" class="container mt-4">

    <div class="form-group">
        <label for="accountholderName">Account Holder Name</label>
        <input type="text" id="accountholderName" class ="form-control" name="accountholderName" 
              
               placeholder="Enter Account Holder Name"
               [(ngModel)]="account.accountHolderName" required>
    </div>

    <div class="form-group">
        <label for="balance">Balance</label>
        <input type="number" id="balance"  class ="form-control"name="balance" 
               class="form-control"
               placeholder="Enter Balance"
               [(ngModel)]="account.balance" required>
    </div>

    <button type="submit" class="btn btn-success btn-block mt-3">Submit</button>
</form>
</div>